<div class="header">
	<div class="container">
<link rel="stylesheet" type="text/css" href="pages.css">

	<img src="https://www.dropbox.com/home?preview=background-blur-clean-531880.jpg" >

		<h1> ECE YILDIRIM </h1>

	<a class="btn" href="#">View My Work</a>
  </div>


</div>



<div class="nav">
	<div class="container">
		<ul>
		<li>Welcome</li>
		<li>Portfolio</li>
		<li>Blog</li>
		<li>About</li>
		<li>Contact</li>

	</ul>

	</div>
</div>





	


<div class="footer">
	<div class="container">
		<p>&copy; Ece YILDIRIM </p>
		<ul>
		<li>Twitter</li>
		<li>Blog</li>
		<li>LinkedIn</li>
		<li>Github</li>
	</ul>
	</div>
</div>